* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color: rgba(55, 55, 55, 0.87);
  --navbar-background: #e0e0e0;
  --content-background: #fff;
  --footer-background: #e0e0e0;
  --button-background: #fff;
  --hover-navbar: #272727;
  --hover-text: #fff;
}

[data-theme="dark"] {
  --background-color: hsl(0, 0%, 12%);
  --text-color: #ffffff;
  --content-background: hsl(0, 0%, 12%);
  --navbar-background: #272727;
  --footer-background: #333333;
  --button-background: #333333;
  --hover-navbar: #fff;
  --hover-text: #272727;

}

body {
  margin: 0;
  padding: 0;
}